{% extends "admin.base.html.twig" %}
{% block principal %}
    <div class="card card-body bg-light ">
        <h2>Ajouter Chapitre</h2>
        <p>Ajouter un chapitre avec cet formulaire</p>
        <form action="index.php?action=addChapters" method="POST">
            <div class="form-group">
                <div class="py-2">
                    <label for="title">Titre:</label>
                    <input type="text" name="title"
                           class="form-control form-control-lg {{ (title_err is not empty) ? 'is-invalid' : '' }}"
                           placeholder="Votre titre ici"
                           value="{{ title }}">

                    <span class="invalid-feedback">{{ title_err }}</span>
                </div>
                <div class="py-2">
                    <label for="content">Contenu:</label>
                    <textarea name="content" id="content"
                              class="form-control {{ (content_err is not empty) ? 'is-invalid' : '' }}"
                              placeholder="Votre contenu ici">{{ content }}</textarea>
                    <span class="invalid-feedback">{{ content_err }}</span>
                </div>
            </div>
            <input type="submit" class="btn btn-success" value="Ajouter">

        </form>
    </div>

{% endblock %}