{% extends "base.html.twig" %}

{% block body %}

    <section id="showcase" style="min-height: 450px;" class="d-flex justify-content-center align-items-center">
        <div id="overlay"></div>
        <div id="header" class="container text-white text-center">
            <h3 class="display-5 mb-0">Publications</h3>
            <h1 class="display-3">Jean Forteroche</h1>
        </div>
    </section>
    <section>
        <div class="container text-center mt-4">
            <i class="fas fa-quote-left fa-2x text-primary mb-3"></i>
            <blockquote class="blockquote">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam asperiores, consequuntur
                    debitis eaque eos error explicabo ipsum quae sit. Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit. Aliquam atque corporis culpa debitis earum eos esse facere, harum id in optio
                    quasi qui quo saepe sequi. Animi dignissimos repellat tempore.
                </p>
                <footer class="blockquote-footer">Mark Twain</footer>
            </blockquote>
        </div>
    </section>

    <section>
        <div class="container">

            <div class="row">

                <!-- Blog Post Content Column -->
                <div class="col-lg-8">

                    <!-- Blog Post -->

                    <!-- Title -->
                    <h1>{{ chapter.title |raw }}</h1>

                    <!-- Author -->
                    <p class="lead">
                        écrit par <a href="index.php?action=bio">Jean Forteroche</a>
                    </p>

                    <hr>

                    <!-- Date/Time -->
                    <p> Publie le {{ chapter.content_date | date('d/m/Y') }}</p>

                    <hr>

                    <!-- Preview Image -->
                    {{ dump(chapter) }}
                    <img class="img-fluid" src="https://picsum.photos/id/{{ id }}/900/300" alt="">

                    <hr>

                    <!-- Post Content -->
                    {#                    class="lead"#}
                    <p class="lead">{{ chapter.content |raw }}</p>

                    <hr>


                    <!-- Blog Comments -->

                    <!-- Comments Form -->
                    <div class="well">
                        {{ dump() }}
                        <h4>Laissez nou un commentaire:</h4>
                        <form action="index.php?action=showChapter&id={{ chapter.id }}" method="POST">

                            <div class="form-group row">
                                <label for="comment_author" class="col-sm-2">Author</label>
                                <div class="col-sm-10">
                                    <input type="text"
                                           class="form-control {{ (comment_author_err is not empty) ? 'is-invalid' : '' }}"
                                           name="comment_author" value="{{ comment_author }}">
                                </div>
                                <span class="invalid-feedback d-block text-center">{{ comment_author_err }}</span>


                            </div>


                            <div class="form-group row">
                                <label for="comment_email" class="col-sm-2">Email</label>
                                <div class="col-sm-10">
                                    <input type="text"
                                           class="form-control {{ (comment_email_err is not empty) ? 'is-invalid' : '' }}"
                                           name="comment_email" value="{{ comment_email }}">
                                </div>
                                <span class="invalid-feedback d-block text-center">{{ comment_email_err }}</span>
                            </div>

                            <div class="form-group">
                                <label for="comment_content">Votre commentaire</label>
                                <textarea
                                        class="form-control {{ (comment_content_err is not empty) ? 'is-invalid' : '' }}"
                                        rows="3" name="comment_content">{{ comment_content }}</textarea>
                                <span class="invalid-feedback d-block text-center">{{ comment_content_err }}</span>
                            </div>
                            <button name="create_comment" type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>

                    <hr>

                    <!-- Posted Comments -->

                    <!-- Comment -->
                    {% for comment in commentsById %}
                        <div class="media py-2">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="https://picsum.photos/id/{{ comment.comment_id }}/64/64"
                                     alt="">
                            </a>
                            <div class="media-body py-1 px-1">
                                <h4 class="media-heading">{{ comment.comment_author }}
                                    <small>le {{ comment.comment_date|date("d/m/Y", false) }}
                                        à {{ comment.comment_date|date("H:i:s", false) }}</small>
                                </h4>
                                {{ comment.comment_content }}
                            </div>
                            <button class="btn btn-warning" onclick="return confirm('Confirmer la signalisation ?');">
                                Signaler
                            </button>
                        </div>

                    {% endfor %}
                </div>

                <!-- Blog Sidebar Widgets Column -->
                <div class="col-md-4">

                    <!-- Blog Search Well -->
                    <div class="well">
                        <h4>Blog Search</h4>
                        <div class="input-group">
                            <input type="text" class="form-control">

                            <button class="btn btn-default" type="button">

                            </button>

                        </div>
                        <!-- /.input-group -->
                    </div>

                    <!-- Blog Categories Well -->
                    <div class="well">
                        <h4>Blog Categories</h4>
                        <div class="row">
                            <div class="col-lg-6">
                                <ul class="list-unstyled">
                                    <li><a href="#">Category Name</a>
                                    </li>
                                    <li><a href="#">Category Name</a>
                                    </li>
                                    <li><a href="#">Category Name</a>
                                    </li>
                                    <li><a href="#">Category Name</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <ul class="list-unstyled">
                                    <li><a href="#">Category Name</a>
                                    </li>
                                    <li><a href="#">Category Name</a>
                                    </li>
                                    <li><a href="#">Category Name</a>
                                    </li>
                                    <li><a href="#">Category Name</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- /.row -->
                    </div>

                    <!-- Side Widget Well -->
                    <div class="well">
                        <h4>Side Widget Well</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci
                            accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
                    </div>

                </div>

            </div>
            <!-- /.row -->

            <hr>
        </div>
    </section>








{% endblock %}
