{% extends "base.html.twig" %}

{% block body %}
    <section id="showcase" style="min-height: 450px;" class="d-flex justify-content-center align-items-center">
        <div id="overlay"></div>
        <div id="header" class="container text-white text-center">
            <h3 class="display-5 mb-0">Publications</h3>
            <h1 class="display-3">Jean Forteroche</h1>
        </div>
    </section>
    <section>
        <div class="container text-center mt-4">
            <i class="fas fa-quote-left fa-2x text-primary mb-3"></i>
            <blockquote class="blockquote">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam asperiores, consequuntur
                    debitis eaque eos error explicabo ipsum quae sit. Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit. Aliquam atque corporis culpa debitis earum eos esse facere, harum id in optio
                    quasi qui quo saepe sequi. Animi dignissimos repellat tempore.
                </p>
                <footer class="blockquote-footer">Mark Twain</footer>
            </blockquote>
        </div>
    </section>
    <section>
        <div class="container">

            <div class="row">

                <!-- Blog Post Content Column -->
                <div class="col-lg-8">

                    <!-- Blog Post -->

                    <!-- Title -->
                    <h1>{{ chapter.title |raw }}</h1>

                    <!-- Author -->
                    <p class="lead">
                        écrit par <a href="index.php?action=bio">Jean Forteroche</a>
                    </p>

                    <hr>

                    <!-- Date/Time -->
                    <p> Publie le {{ chapter.content_date | date('d/m/Y') }}</p>

                    <hr>

                    <!-- Preview Image -->
                    {{ dump(chapter) }}
                    <img class="img-fluid" src="https://picsum.photos/id/{{ id }}/900/300" alt="">

                    <hr>

                    <!-- Post Content -->
                    {#                    class="lead"#}
                    <p class="lead">{{ chapter.content |raw }}</p>

                    <hr>


                    <!-- Blog Comments -->

                    <!-- Comments Form -->
                    <div class="well">
                        {{ dump() }}
                        <h4>Laissez nou un commentaire:</h4>
                        <form action="index.php?action=showChapter&id={{ chapter.id }}" method="POST">

                            <div class="form-group row">
                                <label for="comment_author" class="col-sm-2">Author</label>
                                <div class="col-sm-10">
                                    <input type="text"
                                           class="form-control {{ (comment_author_err is not empty) ? 'is-invalid' : '' }}"
                                           name="comment_author" value="{{ comment.author }}">
                                </div>
                            </div>
                            <span class="invalid-feedback">{{ comment_author_err }}</span>

                            <div class="form-group row">
                                <label for="comment_email" class="col-sm-2">Email</label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" name="comment_email">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="comment_content">Votre commentaire</label>
                                <textarea class="form-control" rows="3" name="comment_content"></textarea>
                            </div>
                            <button name="create_comment" type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>

                    <hr>

                    <!-- Posted Comments -->

                    <!-- Comment -->
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object" src="http://placehold.it/64x64" alt="">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Start Bootstrap
                                <small>August 25, 2014 at 9:30 PM</small>
                            </h4>
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin
                            commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce
                            condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                        </div>
                    </div>

                    <!-- Comment -->
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object" src="http://placehold.it/64x64" alt="">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Start Bootstrap
                                <small>August 25, 2014 at 9:30 PM</small>
                            </h4>
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin
                            commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce
                            condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                            <!-- Nested Comment -->
                            <div class="media">
                                <a class="pull-left" href="#">
                                    <img class="media-object" src="http://placehold.it/64x64" alt="">
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading">Nested Start Bootstrap
                                        <small>August 25, 2014 at 9:30 PM</small>
                                    </h4>
                                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                                    sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra
                                    turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue
                                    felis in faucibus.
                                </div>
                            </div>
                            <!-- End Nested Comment -->
                        </div>
                    </div>

                </div>

                <!-- Blog Sidebar Widgets Column -->
                <div class="col-md-4">

                    <!-- Blog Search Well -->
                    <div class="well">
                        <h4>Blog Search</h4>
                        <div class="input-group">
                            <input type="text" class="form-control">

                            <button class="btn btn-default" type="button">

                            </button>

                        </div>
                        <!-- /.input-group -->
                    </div>

                    <!-- Blog Categories Well -->
                    <div class="well">
                        <h4>Blog Categories</h4>
                        <div class="row">
                            <div class="col-lg-6">
                                <ul class="list-unstyled">
                                    <li><a href="#">Category Name</a>
                                    </li>
                                    <li><a href="#">Category Name</a>
                                    </li>
                                    <li><a href="#">Category Name</a>
                                    </li>
                                    <li><a href="#">Category Name</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <ul class="list-unstyled">
                                    <li><a href="#">Category Name</a>
                                    </li>
                                    <li><a href="#">Category Name</a>
                                    </li>
                                    <li><a href="#">Category Name</a>
                                    </li>
                                    <li><a href="#">Category Name</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- /.row -->
                    </div>

                    <!-- Side Widget Well -->
                    <div class="well">
                        <h4>Side Widget Well</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci
                            accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
                    </div>

                </div>

            </div>
            <!-- /.row -->

            <hr>
        </div>
    </section>








{% endblock %}
